aniso8601==8.0.0
cffi==1.14.0
Click==7.0
clipspy==0.3.3
Flask==1.1.1
flask-googlemaps==0.4.0
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pycparser==2.19
pytz==2019.3
six==1.14.0
Werkzeug==1.0.0
